//.md-content { max-width:800px;}

a[href^="http"] {
  background-image: url('link-external-16.svg');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 24px;
}

a[href$="pdf"] {
  background-image: url('file-pdf.svg');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 18px;
}

.md-typeset {
    font-size:1rem;
}

.md-typeset .admonition,
.md-typeset details {
    font-size:1rem;
}

